html {
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    /*background-color: #dcdcdc;*/
    background: #A871D9;
    background: linear-gradient(90deg, rgba(168, 113, 217, 1) 0%, rgba(137, 180, 240, 1) 30%, rgba(137, 180, 240, 1) 60%, rgba(168, 113, 217, 1) 100%);
}

#maincontent {
    width: 80%;
}

#navbar {
    width: 100%;
    border-bottom: 3px solid rgb(55, 141, 164);
    padding-bottom: 10px ;
}

.siteBanner {
    padding: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    /*background-color: brown;*/
    background: #6e0d0d;
    background: linear-gradient(0deg, rgba(110, 13, 13, 1) 0%, rgba(186, 76, 76, 1) 100%);
    
    background-image:  linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777), linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777);
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    height: 100px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.siteName {
    margin-left: 20px;
    color: rgb(244, 229, 18);
    background-color: #ab343481;
    padding: 5px;
}

#navBtns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navBtn {
    text-decoration: none;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 15px;
    background: #448282;
    background: linear-gradient(0deg, rgba(68, 130, 130, 1) 0%, rgba(73, 164, 164, 1) 100%);
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
}

.navBtn:hover {
    background: #78a4a4;
}


#mainpage {
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
}

#sidebar {
    width: 25%;
    height: 1000px;
    margin-right: 10px;
    border-right: 1px solid black;
    padding-right: 5px;
}

.unsolicited-ad-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 9 / 16;
}

.adLink {
    width: 100%;
    height: 100%;
    border: 1px inset rgb(141, 141, 141);
    background-size: cover;
}

#rightColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 1000px;
}

.pagerow {
    width: 100%;
    margin-bottom: 40px;
}

.zigzagBg {
    background-color: #7b7b7b;
    /*opacity: 0.5;*/
    background: linear-gradient(135deg, #444cf755 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #444cf7 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #444cf755 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
    background-blend-mode:hard-light;
}

.rowHeader {
    background: #2c2e2e;
    background: linear-gradient(0deg, rgba(44, 46, 46, 1) 0%, rgba(156, 142, 142, 1) 100%);
    padding: 5px;
    margin: 0;
    font-size: 14px;
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}

.genericHeader {
    margin: 0;
}

.genericParagraph {
    font-size: 14px;
}

.rowScrollContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    height: 200px;
}

.rowContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 300px;
}

.postContainer {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 98%;
    margin-right: 20px;
}

.postImg {
    width: 100%;
}

.postInfoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.postName {
    margin-bottom: 5px;
}

.otherPostInfo {
    color: rgb(51, 51, 51);
    margin: 0;
}

.btn {
    display: inline-block;
    align-items: center !important;
    align-content: center !important;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.y2k-btn {
    padding: 10px;
    border: 2px solid #25567a;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    border-radius: 30px;
    letter-spacing: 1px;
    box-shadow: 0 22px 40px rgba(0, 0, 0, 0.95), inset 0 2px 0px rgba(255, 255, 255, 0.5);
    overflow: hidden;
    background: #15487f;
    background: -moz-linear-gradient(left, #15487f 0%, #479fd6 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #15487f), color-stop(100%, #479fd6));
    background: -webkit-linear-gradient(left, #15487f 0%, #479fd6 100%);
    background: -o-linear-gradient(left, #15487f 0%, #479fd6 100%);
    background: -ms-linear-gradient(left, #15487f 0%, #479fd6 100%);
    background: linear-gradient(to right, #94b5d8 0%, #479fd6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15487f', endColorstr='#479fd6', GradientType=1 );
    line-height: 1.33;
}

.y2k-btn .glare {
  width: 150%;
  margin-left: -22%;
  margin-top: -14px;
  z-index: 2;
  height: 28px;
  border-radius: 50%;
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.49) 51%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(51%, rgba(0,0,0,0.49)), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.49) 51%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.49) 51%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.49) 51%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.49) 51%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

#htmlOutput, #htmlInput {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

#htmlInput {
    resize: none;
}

.langLink {
    padding: 5px;
}

.repoContainer {
    width: 49%;
    height: fit-content;
    padding-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 10px;   
    margin-bottom: 10px; 
    border: 1px solid black;
    background: #272729;
    background: linear-gradient(0deg, rgba(39, 39, 41, 1) 0%, rgba(64, 61, 61, 1) 61%);
}

.repoName {
    color: rgb(0, 129, 194);
    margin: 5px;
    font-family: sans-serif;
    width: fit-content;
}

.repoDesc {
    color: white;
    margin-top: -2px;
    margin-left: 5px;
    font-family: sans-serif;
    font-size: 15px;
}

.repoLangStack {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: 25px;
    margin-left: 5px;
}

.repoLangImg {
    height: 100%;
    margin-right: 10px;
}

#songContainer {
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
}

.songImg {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}