html {
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    /*background-color: #dcdcdc;*/
    background: #A871D9;
    background: linear-gradient(90deg, rgba(168, 113, 217, 1) 0%, rgba(137, 180, 240, 1) 30%, rgba(137, 180, 240, 1) 60%, rgba(168, 113, 217, 1) 100%);
}

#maincontent {
    width: 80%;
}

#navbar {
    width: 100%;
    border-bottom: 3px solid rgb(55, 141, 164);
    padding-bottom: 10px ;
}

.siteName {
    padding: 5px;
    background-color: brown;
    color: white;
    font-size: 20px;
}

#navBtns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navBtn {
    text-decoration: none;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 15px;
    background: #448282;
    background: linear-gradient(0deg, rgba(68, 130, 130, 1) 0%, rgba(73, 164, 164, 1) 100%);
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
}

.navBtn:hover {
    background: #78a4a4;
}


#mainpage {
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
}

#sidebar {
    width: 25%;
    height: 1000px;
    margin-right: 10px;
    border-right: 1px solid black;
    padding-right: 5px;
}

.unsolicited-ad-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 9 / 16;
}

.adLink {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(141, 141, 141);
    background-size: cover;
}

#rightColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 1000px;
}

.pagerow {
    width: 100%;
}

.rowHeader {
    background: #2c2e2e;
    background: linear-gradient(0deg, rgba(44, 46, 46, 1) 0%, rgba(156, 142, 142, 1) 100%);
    padding: 5px;
    margin: 0;
    font-size: 14px;
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}

.genericHeader {
    margin: 0;
}

.genericParagraph {
    font-size: 14px;
}

.rowScrollContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    height: 200px;
}

.rowContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 300px;
}

.postContainer {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 98%;
    margin-right: 20px;
}

.postImg {
    width: 100%;
}

.postInfoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.postName {
    margin-bottom: 5px;
}

.otherPostInfo {
    color: rgb(51, 51, 51);
    margin: 0;
}